<!DOCTYPE html>
<html>
  <body>
  	<script src="/js/lib/jquery.min.js"></script>
  	<script>
  	document.domain = "bettyvelvet.me";
  	$(function(){
  		var data = <%- return_object_list %>;
  		var image_data = "";
  		$.each(data, function(i, item){
  			if(item.code == 200){
				var _this_host = window.location.host;
  				if($.trim(window.location.port) != ""){
  					_this_host += ":"+window.location.port;
  				}  			
  			
  				var original_url = "//" + _this_host + item.original_image_path;
  				
  				var thumbnail_url_130 = '';
  				var thumbnail_url_200 = '';
  				var thumbnail_url_300 = '';
  				$.each(item.thumbnail_result, function(i){
  					switch(item.thumbnail_result[i].size){
  						case '130':
  							thumbnail_url_130 = "//" + _this_host + item.thumbnail_result[i].image_thumbnail_path;
  							break;
  						case '200':
  							thumbnail_url_200 = "//" + _this_host + item.thumbnail_result[i].image_thumbnail_path;
  							break;
  						case '300':
  							thumbnail_url_300 = "//" + _this_host + item.thumbnail_result[i].image_thumbnail_path;
  							break;
  					}
  				});
  			
  				parent.$("input[type='file']:eq("+i+")").hide();
  				
  				parent.$(".image_disp_layer:eq("+i+")").html("<img src=\""+thumbnail_url_130+"\" style=\"width:130px;height:130px\" />");
  				parent.$(".image_disp_layer:eq("+i+")").attr("original_image",original_url);
  				parent.$(".image_disp_layer:eq("+i+")").attr("thumbnail_image_130",thumbnail_url_130);
  				parent.$(".image_disp_layer:eq("+i+")").attr("thumbnail_image_200",thumbnail_url_200);
  				parent.$(".image_disp_layer:eq("+i+")").attr("thumbnail_image_300",thumbnail_url_300);
  				parent.$(".image_disp_layer:eq("+i+")").show();
	  		}
  		});
  		
  		parent.$("input[type='file']").each(function(i){
  			if($(this).css("display") == "none"){
  				$(this).remove();
  			}
  		});
  	});
	</script>
  </body>
</html>
