<!DOCTYPE html>
<html>
  <body>
  	<script src="/js/lib/jquery.min.js"></script>
  	<script>
  	document.domain = "bettyvelvet.me";
  	$(function(){
  		var data = <%- return_object_list %>;
  		var image_data = "";
  		$.each(data, function(i, item){
  			if(item.code == 200){
  				var thumbnail_url = item.thumbnail_result[0].image_thumbnail_path;
  				var _this_host = window.location.host;
  				if($.trim(window.location.port) != ""){
  					_this_host += ":"+window.location.port;
  				}
  				
  				thumbnail_url = _this_host + thumbnail_url;
  			
  				parent.$("input[type='file']:eq("+i+")").remove();
  				
  				parent.$(".image_disp_layer:eq("+i+")").html("<img src=\"+thumbnail_url+\" style=\"width:130;height:130\" />");
  				parent.$(".image_disp_layer:eq("+i+")").data("original_image",item.original_image_path);
  				parent.$(".image_disp_layer:eq("+i+")").data("thumbnail_image_130",item.thumbnail_result[0].image_thumbnail_path);
  				parent.$(".image_disp_layer:eq("+i+")").data("thumbnail_image_200",item.thumbnail_result[1].image_thumbnail_path);
  				parent.$(".image_disp_layer:eq("+i+")").data("thumbnail_image_300",item.thumbnail_result[2].image_thumbnail_path);
  				parent.$(".image_disp_layer:eq("+i+")").show();
  				
  						
	  		}
  		});
  	});
	</script>
  </body>
</html>
